.box_peserta {
	width: 70% !important;
    margin: 0 auto;
    padding: 5px;
}

.error_msg {
	background: rgba(221, 75, 57, 0.82);
    width: 20%;
    color: #fff !important;
    padding: 2px;
    border-radius: 4px;
    margin-top: 5px;
}